/* line 1, ../sass/main.scss */
.container-wrapper {
  margin: 30px;
  width: 30vw;
}
/* line 6, ../sass/main.scss */
.container-wrapper #outer-container-wrapper form {
  display: grid;
  grid-template-columns: 9vw 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 20px;
  padding-bottom: 20px;
}
/* line 13, ../sass/main.scss */
.container-wrapper #outer-container-wrapper form label {
  color: #ccc;
  line-height: 40px;
}
/* line 18, ../sass/main.scss */
.container-wrapper #outer-container-wrapper form textarea {
  border: solid 1px #eee;
  border-radius: 3px;
  font-size: 0.75em;
  padding: 1em 2em;
}
/* line 25, ../sass/main.scss */
.container-wrapper #outer-container-wrapper form input[type=text] {
  border: solid 1px #eee;
  border-radius: 3px;
  font-size: 12px;
  padding: 1em 2em;
}
/* line 33, ../sass/main.scss */
.container-wrapper #outer-container-wrapper > label {
  display: block;
  padding: 10px 0;
}
/* line 38, ../sass/main.scss */
.container-wrapper #outer-container-wrapper .buttons--wrapper {
  display: block;
  margin-top: 20px;
}
/* line 42, ../sass/main.scss */
.container-wrapper #outer-container-wrapper .buttons--wrapper .button {
  padding: 1rem 3rem;
  background: #fff;
  border: solid 2px;
  font-size: 0.875em;
}
/* line 48, ../sass/main.scss */
.container-wrapper #outer-container-wrapper .buttons--wrapper .button--blue {
  border-color: blue;
  color: blue;
}
/* line 53, ../sass/main.scss */
.container-wrapper #outer-container-wrapper .buttons--wrapper .button--blue:hover {
  background: blue;
  color: #fff;
}
/* line 58, ../sass/main.scss */
.container-wrapper #outer-container-wrapper .buttons--wrapper .button--orange {
  border-color: orange;
  color: orange;
}
/* line 63, ../sass/main.scss */
.container-wrapper #outer-container-wrapper .buttons--wrapper .button--orange:hover {
  background: orange;
  color: #fff;
}
